/* Fonts */

  @font-face {
    font-family: "Roboto";
    src: url(".../fonts/roboto.woff2") format("woff2"),
    url(".../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url(".../fonts/robotomedium.woff2") format("woff2"),
    url(".../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: medium;
  }

  @font-face {
    font-family: "Roboto";
    src: url(".../fonts/robotobold.woff2") format("woff2"),
    url(".../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
  }
  

/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --normal-icon: #E1E1E1;
    --normal-form: #D7DCDE;
    --hover-form: #B4B9BB;
    --basic-stroke: #DBDBDB;
    --basic-filter: #4D4D4D;
    --text-filter: #283136;
    --bacic-direction: #231F20;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --basic-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
    --basic-grey: #EEEEEE;
    --hover-grey: #DFDFDF;
    --active-grey: #D5D5D5;
    --disabled-grey: #A6A6A6;
  }

 
  .page-body {
      min-width: 960px;
      margin: 0;
      padding: 0;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: var(--basic-black);
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
